{% extends '::base.html.twig' %}

{% block content %}
<div class="row-fluid">
    <div class="span4">
        <h3>NPC</h3>
        {% if vertex.npc is defined %}
            {% include 'TrismegisteFrontBundle:Vertex:list.html.twig' with {'vertices': vertex.npc} only %}
        {% endif %}
    </div>
    <div class="span4">
        <h3>Area</h3>
        {% if vertex.area is defined %}
            {% include 'TrismegisteFrontBundle:Vertex:list.html.twig' with {'vertices': vertex.area} only %}
        {% endif %}
    </div>
    <div class="span4">
        <h3>Item</h3>
        {% if vertex.item is defined %}
            {% include 'TrismegisteFrontBundle:Vertex:list.html.twig' with {'vertices': vertex.item} only %}
        {% endif %}
    </div>
</div>
<hr/>
<a href="{{ path('graph_show_2d') }}" class="btn"><i class="icon-eye-open"></i> Graphical view</a>
{% endblock %}
