<div class="span3">
    <table class="table">
        <thead><tr><th>I</th><th>C</th></tr></thead>
        <tr ng-repeat="fighter in characters | orderBy:'-init'"
            ng-click="select(fighter.name)">
            <td>{{fighter.init}}</td><td>{{ fighter.name }}</td>
        </tr>
    </table>
    <button class="btn" ng-click="addCharacter()">Add new</button>
</div>

<div class="span5">
    <form class="form-horizontal" novalidate="novalidate">    
        <div class="control-group">
            <label class="control-label required">Name</label>
            <div class="controls">
                <input ng-model="selected_char.name" type="text" class="span4"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label required">Init</label>
            <div class="controls">
                <input ng-model="selected_char.init" type="number" class="span4"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label required">HP</label>
            <div class="controls">
                <input ng-model="selected_char.HP" type="number" class="span4"/>
            </div>
        </div>
    </form>
</div>

<div class="span4">
    Nothing here {{'yet' + '!'}}
</div>
