{% extends "::base.html.twig" %}
{%block content %}
<div ng-app="combatApp" class="row-fluid" ng-controller="MainCtrl">
    {% render(controller('TrismegisteFrontBundle:Combat:getContent')) %}
</div>
{% endblock %}

{%block javascripts %}
{{ parent() }}
    <script src="{{ asset('bundles/trismegistefront/js/angular/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/trismegistefront/js/controllers.js') }}"></script>
{% endblock %}
