{% extends "::base.html.twig" %}
{%block content %}
<div ng-app="combatApp" class="row-fluid" ng-controller="MainCtrl">
    {% include('TrismegisteFrontBundle:Combat:content.html.twig') %}
</div>
{% endblock %}

{%block javascripts %}
{{ parent() }}
    <script src="{{ asset('bundles/trismegistefront/js/angular/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/trismegistefront/js/controllers.js') }}"></script>
{% endblock %}

{%block stylesheets %}
{{ parent() }}
<style>
        td.current-turn {
            background-color: #5bc0de
        }   
        
        td.selected-character {
            background-color: #D3D3D3
        }
        .form-horizontal .controls {
            margin-left: 80px;
        }
        .form-horizontal .control-label {
            float: left;
            width: 60px;
            padding-top: 5px;
            text-align: right;
        }
</style>
{% endblock %}