{% extends '::base.html.twig' %}

{% block content %}
<h2>New vertices</h2>
<div>
    {{ form(form, {action: path('vertex_batchcreate')}) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var $collectionHolder;
        // setup an "add a vertex" link
        var $addVertexLink = $('<a href="#" class="btn btn-success add_vertex_link">Add a vertex</a>');
        var $newLinkLi = $('<div></div>').append($addVertexLink);

        function addVertexForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');
            // get the new index
            var index = $collectionHolder.data('index');
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);
            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div></div>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of vertices
            $collectionHolder = $('#batch_vertex_batch');
            // add the "add a vertex" anchor and li to the vertices ul
            $collectionHolder.append($newLinkLi);
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $addVertexLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // add a new vertex form (see next code block)
                addVertexForm($collectionHolder, $newLinkLi);
            });
        });
        </script>
{% endblock %}