{% extends '::base.html.twig' %}

{% block content %}
<div class="row-fluid">
    <h2>Checking for links based on slug</h2>
    <table class="table">
        <thead>
            <tr><th>Vertex</th><th>Broken links</th></tr>
        </thead>
        <tbody>
            {% for vertex in report %}
            <tr>
                <td><a href="{{ path('vertex_edit', {id: vertex.getId()}) }}">{{ vertex.getTitle() }}</a></td>
                <td>
                    <ul>
                        {% for broken in report.getInfo() %}
                            <li>{{ broken }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
